<section>

    <!-- Page content -->
  <div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-light shadow border-0">
          <div class="card-header bg-transparent pb-4">
            <div class="text-orange text-center mt-2 mb-4"><h4> Validación de identidad </h4></div>
          
  
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="../../assets/Iecisa_gfi.png" width="100" height="65" alt="iecisa"></span>
              
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../../assets/osiptel_logo.png" width="130" height="40" alt="osiptel"></span>
              
            </a>
          </div>
        </div>
  
          <div class="card-body px-lg-5 py-lg-4">

            <p> Con el fin de validor su identidad, usted recibirá, en su celular, un mensaje de texto con un link. Deberá habilitar su cámara y el sistema tomará una captura de su rostro. De esta manera, consultaremos la información con los sistemas de RENIEC. </p>
            <p> Una vez validada su identidad, esta página automáticamente será cerrada y sera redirigido a un portal donde completará su solicitud. </p>          
            <div class="text-center">
                <a href="validation" class="btn btn-secondary mt-4  mr-4" role="button" aria-pressed="true">Reenviar por SMS</a>
                <a href="validation" class="btn btn-secondary mt-4" role="button" aria-pressed="true">Reenviar por correo</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </section>